@font-face {
  font-family: hummingbird;
  src: url("./assets/FOT-HummingStdEn-B.OTF");
}


#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  border-radius: 14px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.clock {
  color: white;
  font-size: 2.8rem;
  font-family: hummingbird;
  filter: drop-shadow(0px 0px 7px red) drop-shadow(0px 0px 17px red) drop-shadow(0px 0px 3px red);
}

.fflogo {
  max-width: 200px;
  filter: drop-shadow(0px 0px 7px red) drop-shadow(0px 0px 17px red) drop-shadow(0px 0px 3px red);
  transition: 1.5s;
}
.fflogo:hover {
  filter: unset;
  filter: drop-shadow(0px 0px 7px #fe79c4) drop-shadow(0px 0px 17px #fe79c4);
}