@font-face {
  font-family: hummingbird;
  src: url("./assets/FOT-HummingStdEn-B.OTF");
}

#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  border-radius: 14px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.clock {
  color: white;
  font-size: 2.8rem;
  font-family: hummingbird;
  filter: drop-shadow(0px 0px 7px #6e42bf) drop-shadow(0px 0px 17px #6e42bf) drop-shadow(0px 0px 3px #6e42bf);
}

.fflogo {
  max-width: 200px;
  filter: drop-shadow(0px 0px 7px #6e42bf) drop-shadow(0px 0px 17px #6e42bf) drop-shadow(0px 0px 3px #6e42bf);
  transition: 1.5s;
}
.fflogo:hover {
  filter: unset;
  filter: drop-shadow(0px 0px 7px #fe79c4) drop-shadow(0px 0px 17px #fe79c4);
}